.pio/
.cache/
.dummy/

.vscode/*
!README.md
!.vscode/c_cpp_properties.json
!.vscode/settings.json

build/
sdkconfig.*
compile_commands.json

dev/components/neopixel/
dev/dependencies.lock
dev/sdkconfig

.clangd
dependencies.lock
